.header{
            padding : 10px;
            display : flex;
            justify-content: space-between;
            background-color: rgb(250, 197, 250);
            color:white
        }
        .footer{
            background-color: rgb(253, 169, 183);
            color: #000;
        }
        .container{
            margin: 0px;
        }
        *{
            margin: 0px;
        }
        .menu{
            display: flex;
        
        }