.header{
            padding : 10px;
            display : flex;
            justify-content: space-between;
            background-color: #ffccb3;
            color:white
        }
        .footer{
            background-color: rgb(254, 179, 194);
            color: #000;
        }
        .container{
            margin: 0px;
        }
        *{
            margin: 0px;
        }
        .menu{
            display: flex;
        
        }
        .menu li{
            list-style: none;
            margin: 5px;
        }
        .menu li a{
            text-decoration: none;
            color: white;
        }
