.header{
            background-color: orange;
            color:white
        }
        .footer{
            background-color: silver;
            color: #000;
        }
        .container{
            margin: 0px;
        }
        *{
            margin: 0px;
        }