.login-btn{
    background-color: blue;
    color: white;
    border-radius: 20px;
    border: none;

}
.register-btn{
    background-color: green;
    color: white;
    border-radius: 20px;
    border: none;
    
}